::selection{
    background-color:#a395e9;
color: rgb(246, 251, 255);
}

h3 {
    margin-bottom: 6.5%;
    color: var(--title-color);
    font-weight: 200;
     }
   
     .ityped {
       font-weight: 300;
        }